body {
    margin: 20px;
    padding: 5px;
    text-align: center;
    color: darkviolet;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body::before {
    content: "";
    background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/makeup-supplies-amidst-shiny-glitter-royalty-free-image-1640037507.jpg");
    opacity: .1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    background-size: cover;
    z-index: -1; 
}

#brand-list {
    text-align: center;
}

#colors {
    text-align: left; 
    padding-left: 47%;
}

.dot {
    height: 25px;
    width: 25px;
    vertical-align: middle;
    border-radius: 50%;
    display: inline-block;
}

h1 {
    font-size: 36px;
    font-weight: 100;
    font-variant: petite-caps;
    height: 30px;
}

h3 {
    word-wrap: normal;
    font-size: 26px;
    height: 10px;
}

p {
    margin-bottom: 26px;
    font-style: italic;
    font-family: sans-serif;
}

li {
    font-style: italic;
    font-family: sans-serif;
    list-style: none;
}

a:hover {
    color:#ff76e5
}

button {
    position: relative;
    background-color: #ff76e5;
    border: none;
    border-radius: 5px;
    height: 3rem;
    width: max-content;
    color: rgb(255, 255, 255);
    font-size: 20px;
    justify-self: center;
}

button:hover {
    background-color: rgb(255, 255, 255);
    border: #ff76e5 solid 1px;
    color: #ff76e5;
}

.branding {
    clear: both;
}

footer.branding {
    border-top: 2px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
}
